body {
    background-color: #527AA3;
    color: #333;
}
.container {
    margin-top: 50px;
}
.jumbotron {
    background-color: #527AA3;
}
.btn-primary {
    background-color: #06243e;
    border-color: #9aacbd;
}
.btn-primary:hover {
    background-color: #5a9fe4;
    border-color: #cfd0d0;
}